<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
</head>
<body>
<button onclick="location.href = '/add'">Add a new gift idea</button>
<p>Your Christmas List</p>
    {% for data in content %}
    <h3>{{data.title}}</h3>
    <img src="{{ data.image.url }}" alt="">
    
<p>{{data.description}}</p>

    
<p>Last updated: {{data.last_updated|date:'M j, Y'}}</p>

<p><a href="{{data.link}}" target="_blank">Click Here to go see an example</a></p>

<p>Look for one that's around ${{data.suggested_amount}}</p>

<button onclick="location.href = '/edit/{{data.id}}'">Edit this item</button>

<button onclick="location.href = '/delete/{{data.id}}'">Delete this item</button>

    {% endfor %}

</body>
</html>
